//Variables
@amarillo: #fffa19;
@rojo: #FA0036;
@verde: #2D882D;

//Mixin
.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
  background-color: @amarillo;
  color: @rojo;
  .margenes(50px, 0px);
}

footer {
  padding: 10px 10px 0 10px;
  background-color: @verde;
  .margenes(10px, 0px);
}

.bloque-reserva {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  .margenes(10px, 0px);
}

.card-header {
    background-color: @rojo;
}

.card-hotel {
  flex: 1 220px;
  margin-top: 10px;
  max-width: 220px;
}

.btn-reserva {
  width: 100%; }

.btn-informacion {
  width: 100%;
  border-radius: 0px; }

.footer-icono-direccion, .icono-boton {
  padding-right: 0.3em; }

#tablaPrecios thead th, tbody tr td:nth-child(1) {
  text-align: center; }

#tablaPrecios tbody tr td:nth-child(1) {
  color: navy; }

#tablaPrecios tbody tr td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5) {
  text-align: right; }

.tab-content > .tab-pane {
  margin-top: 12px;
  min-height: 250px; }

.iconoEspandir {
  font-size: 0.5em; }
