@yellow: #fffa19;
<<<<<<< HEAD
@green: #17CA17;
@red: #D32F2F;

@mixin margenes(@top, @bottom){
=======

/* MIXIN */
.margenes(@top: 0px, @bottom: 0px){
>>>>>>> 3bf7398e92cad67b7064091bbfe98aa883ffb9bc
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
<<<<<<< HEAD
	background-color: @yellow;
	color: black;
	@include margenes(50px, 12px);
}

.card-hotel .card-header{
    background-color: @red;
    color: @yellow;
}

#misPestanias2 .nav-link.active{
    background-color: @yellow;
}

.card-subtitle{
    background-color: @green;
    padding: 4px;
    text-align: center;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: @yellow;
	@include margenes(10px, 0px);
}

.bloque-reserva {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	@include margenes(10px, 0px);
}

.card-hotel {
	flex: 1 220px;
	margin-top: 10px;
	max-width: 220px;
}

.btn-reserva {
	width: 100%;
}

.btn-informacion {
	width: 100%;
	border-radius: 0px;
}

.footer-icono-direccion, .icono-boton{
	padding-right: 0.3em;
}

#tablaPrecios thead th,tbody tr td:nth-child(1) {
	text-align: center;
}

#tablaPrecios tbody tr td:nth-child(1) {
	color: navy;
}


#tablaPrecios tbody tr td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5) {
	text-align: right;
}

.tab-content>.tab-pane {
    margin-top: 12px;
	min-height: 250px;
}

.iconoEspandir{
	font-size: 0.5em;
}
=======
  background-color: @yellow;
  color: black;
  .margenes(50px, 0px);
}

footer {
  padding: 10px 10px 0 10px;
  background-color: @yellow;
  .margenes(10px, 0px);
}
.bloque-reserva {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  .margenes(10px, 0px);
}

.card-hotel {
  flex: 1 220px;
  .margenes(10px, 220px);
}

.btn-reserva {
  width: 100%; }

.btn-informacion {
  width: 100%;
  border-radius: 0px; }

.footer-icono-direccion, .icono-boton {
  padding-right: 0.3em; }

#tablaPrecios thead th, tbody tr td:nth-child(1) {
  text-align: center; }

#tablaPrecios tbody tr td:nth-child(1) {
  color: navy; }

#tablaPrecios tbody tr td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5) {
  text-align: right; }

.tab-content > .tab-pane {
  margin-top: 12px;
  min-height: 250px; }

.iconoEspandir {
  font-size: 0.5em; }
>>>>>>> 3bf7398e92cad67b7064091bbfe98aa883ffb9bc
