/* MIXIN */
.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px;
}
.bloque-reserva {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 220px;
  margin-top: 10px;
  margin-bottom: 220px;
}
.btn-reserva {
  width: 100%;
}
.btn-informacion {
  width: 100%;
  border-radius: 0px;
}
.footer-icono-direccion,
.icono-boton {
  padding-right: 0.3em;
}
#tablaPrecios thead th,
tbody tr td:nth-child(1) {
  text-align: center;
}
#tablaPrecios tbody tr td:nth-child(1) {
  color: navy;
}
#tablaPrecios tbody tr td:nth-child(2),
td:nth-child(3),
td:nth-child(4),
td:nth-child(5) {
  text-align: right;
}
.tab-content > .tab-pane {
  margin-top: 12px;
  min-height: 250px;
}
.iconoEspandir {
  font-size: 0.5em;
}
